.section2 {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 20rem;
}

.section2 div p {
    color: #96c8f4;
    font-size: 15px;
}

.section2 h1 {
    padding-top: 40px;
    margin: 0;
}

.section2 div span {
    margin-right: 70px;
}

.section2 div {
    display: flex;
    justify-content: space-between;
    background-color: hsl(208, 83%, 60%);
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}